@import "bootswatch/sandstone/variables";
@import "bootstrap";
@import "bootstrap-datepicker";
@import "bootswatch/sandstone/bootswatch";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  margin-top: 20px;
}

nav {
//  border-bottom: 2px solid #f47421;
  margin-bottom: 20px;
}

.login-form {
  width: 500px;
  background-color: whitesmoke;
  padding: 20px;
}

.sessions-new {
  .row {
    height: 500px;
  }
}
